<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="container" data-th-fragment="header">

			<a href="#" class="navbar-brand"> <img alt="logo"
				data-th-src="@{/img/Fi-unju.png}" width="350">
			</a>


			<p class="text-info-emphasis mt-2">"Formar Experiencia para
				Forjar un Futuro"</p>
		
			<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
		<div class="container">
			<a href="#" class="navbar-brand"> <img alt="logo"
				data-th-src="@{/img/logo-fi.png}" width="100">
			</a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#menu-principal"
				aria-controls="menu-principal" aria-expanded="false"
				aria-label="Despliegue del navegador de Opciones">
				<span class="navbar-toggler-icon"></span>

			</button>
			<div class="collapse navbar-collapse" id="menu-principal">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item"><a href="#" class="nav-link active">Inicio</a></li>
					<li><a href="#" class="nav-link">Acerca de </a></li>
					<li><a href="#" class="nav-link">Carreras</a></li>
					<li><a href="#" class="nav-link">Noticias</a></li>
					<li><a href="#" class="nav-link">Contacto</a></li>
				</ul>
			</div>
		</div>
	</nav>
	</div>
</body>
</html>