<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<title>Inicio-TP4</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
	<header>
		<h1>HEADER</h1>
		
	</header>
	<main>
		<h1>MAIN</h1>
	</main>
	<aside>
		<h1>ASIDE</h1>
	</aside>
	<footer>
		<h1>FOOTER</h1>
	</footer>
	<script type="text/javascript"
		th:href="@{/webjars/bootstrap/js/bootstrap.bundel.min.js}"></script>
</body>
</html>