<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="es">
<head>
<meta charset="UTF-8">
<title>Inicio-TP4</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

</head>
<body>

	



	
	<div class="row justify-content-center">
		<main class="col-8">

			<div class="row">
				<section class="col-12">
				

					
				</section>
				
				
				
				

	
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				<section class="col-12">


					
					<h3>Section col 6</h3>
				</section>

			</div>

		</main>
		<aside class="col-2">
		
			
			<div class="container">
			
			
			
			
			
			
			
			
			
			
			
		</div>
			
			
			
			
			
			
			
			
			
			
			
			
			
			
		</aside>
	</div>
	<footer class="bg-dark text-white text-center py-3">
		
			
			
			
	
	</footer>
	<script type="text/javascript"
		th:href="@{/webjars/bootstrap/js/bootstrap.bundel.min.js}"></script>
</body>
</html>